
</br></br></br></br></br></br></br></br>


  <div class="row">
    <div class="col">
      <center>
      <h1 style = "font-family: 'Tachoma'; font-size: 30px; color: #000080; margin-bottom: 20px">
        <b>
    <%= t('form.formname') %>
  </b>
          </h1>
    
            <%= simple_form_for @contact, :html => {:class => 'col-md col-sm-12 form-group' } do |f| %>
              <%= f.input_field :name, :required => true, :class => "form-control", placeholder: t('form.name'), :style => "font-size: 2.75; font-family: 'Jost', sans-serif; font-weight: bold; background-color: #D3D3D3; opacity: .9" %>
              <br>
              <%= f.input_field :email, :required => true, :class => "form-control", placeholder: "E-Mail", :style => "font-size: 2.75; font-family: 'Jost', sans-serif; font-weight: bold; background-color: #D3D3D3; opacity: .9" %>
              <br>
              <%= f.input_field :message, :as => :text, :required => true, :class => "form-control", style: 'height: 200px', placeholder: t('form.message'), :style => "font-size: 2.75; font-family: 'Jost', sans-serif; font-weight: bold; background-color: #D3D3D3; opacity: .9", rows: "5" %>
             
      
            <div>
              </br>
              <%= f.button :submit, t('index.send'), :class => 'btn btn-success', style: 'width: 300px; border-radius: 30px' %>
            </div>
            <% end %>
          </center>
    </div>
    <div class="col">
      <center>
      <h1 style = "font-family: 'Tachoma'; font-size: 30px; color: #000080; margin-bottom: 20px">
        <b>
    <%= t('contacts.formname') %>
  </b>
          </h1>
          <b>
          <h2>
          E-mail: heykellidiyar@gmail.com </br>
          Phone/Fax: + (99312) 95-65-33, 95-54-33
        </b>
      </h2>
    </div>
  </center>
  </div>

  <section class="footer5 cid-sqTKvdBvWV" once="footers" id="footer5-x">

    

    

    <div class="container">
        <div class="media-container-row">
            <div class="col-md-1 col-6">
                <div class="media-wrap">
                    <a href="https://mobirise.co/">
                        <img src="/assets/images/-1-121x125.png" alt="Mobirise">
                    </a>
                </div>
            </div>
            <div class="col-11 col-6">
                <p class="mbr-text align-right links mbr-fonts-style display-7">
                    <a href="#" class="text-black">About</a> &nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#" class="text-black">Terms</a> &nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#" class="text-black">Careers</a> &nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#" class="text-black">Contact</a>
                </p>
            </div>
        </div>
        <!-- <div class="media-container-row">
            <div class="col-md-12"> -->
        <div class="footer-lower">
            <div class="media-container-row">
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
            <div class="media-container-row">
                <div class="col-md-6 copyright">
                    <p class="mbr-text mbr-fonts-style display-7">
                        
                    </p>
                </div>
                <div class="col-md-6">
                    
                </div>
            </div>
            <!-- </div>
            </div> -->
        </div>

    </div>
</section>
<section id="top-1" hidden><a href="https://mobirise.site"></a>

<script src="/assets/web/assets/jquery/jquery.min.js"></script>  
<script src="/assets/popper/popper.min.js"></script>  
<script src="/assets/tether/tether.min.js"></script>  
 
<script src="/assets/smoothscroll/smooth-scroll.js"></script>  
<script src="/assets/viewportchecker/jquery.viewportchecker.js"></script>  

<script src="/assets/touchswipe/jquery.touch-swipe.min.js"></script>  
<script src="/assets/parallax/jarallax.min.js"></script>  
<script src="/assets/formstyler/jquery.formstyler.js"></script>  
<script src="/assets/formstyler/jquery.formstyler.min.js"></script>  
<script src="/assets/datepicker/jquery.datetimepicker.full.js"></script>  
<script src="/assets/theme/js/script.js"></script>  
<script src="/assets/formoid/formoid.min.js"></script> 

