<head>
<title>ДЕЯТЕЛЬНОСТЬ</title> 
</head>

<body>



<section class="gallery3 cid-sqU0GnYQ0E" id="gallery3-z">
    
    
    <div class="container">
        <div class="mbr-section-head">
            <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                <strong>
                  <%= "#{@trade.name_ru}" if params[:locale] == 'ru' %>
                  <%= "#{@trade.name_en}" if params[:locale] == 'en' %>
                  <%= "#{@trade.name_tm}" if params[:locale] == 'tm' %>                
                </strong>
              </h4>
            <h5 class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-2 display-5"></h5>
        </div>
        <div class="row mt-4">
            <% @trade.products.each do |content| %>
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper shadow p-3 mb-5 bg-body rounded">
                    <div class="item-img">
                        <%= image_tag content.image, :style => "width: 315px; height: 180px" %>
                    </div>
                    <div class="item-content">
                        <h6 class="item-title" style="font-size: 15px">
                            <center>
                            <strong>

                                <%= link_to "#{content.name_ru}", product_path(content), :class => "text-black dropdown-item", :style => "font-size: 15px; font-color: black" if params[:locale] != true and params[:locale] != 'en' and params[:locale] != 'tm' and params[:locale] != 'ru' %>
                                <%= link_to "#{content.ru_name}", product_path(content), :class => "text-black dropdown-item", :style => "font-size: 15px: font-color: black" if params[:locale] == 'ru' %>
                                <%= link_to "#{content.en_name}", product_path(content), :class => "text-black dropdown-item", :style => "font-size: 15px; font-color: black" if params[:locale] == 'en' %>
                                <%= link_to "#{content.tm_name}", product_path(content), :class => "text-black dropdown-item", :style => "font-size: 15px; font-color: black" if params[:locale] == 'tm' %>
                            </center>    
                            </strong>
                        </h6>
                        
                        
                    </div>
                    
                </div>
            </div>
            <% end %>
   
          
        </div>
    </div>
</section>
      <div style="background-color: rgba(121,73,140,1); height: 100px">
        <div class="container">
          <br><br>
          <center>
          <h6><b>&copy;&nbsp;<%= t('layout.org') %> &nbsp;<%= t('layout.name')%></b></h6>
          </center>
        </div>
    </div>
</section>
<section id="top-1" hidden><a href="https://mobirise.site"></a>
<script src="/assets/web/assets/jquery/jquery.min.js"></script>  
<script src="/assets/popper/popper.min.js"></script>  
<script src="/assets/tether/tether.min.js"></script>  
 
<script src="/assets/smoothscroll/smooth-scroll.js"></script>  
<script src="/assets/viewportchecker/jquery.viewportchecker.js"></script>  

<script src="/assets/touchswipe/jquery.touch-swipe.min.js"></script>  
<script src="/assets/parallax/jarallax.min.js"></script>  
<script src="/assets/formstyler/jquery.formstyler.js"></script>  
<script src="/assets/formstyler/jquery.formstyler.min.js"></script>  
<script src="/assets/datepicker/jquery.datetimepicker.full.js"></script>  
<script src="/assets/theme/js/script.js"></script>  
<script src="/assets/formoid/formoid.min.js"></script>  