<!DOCTYPE html>
<html>
  <head>
    <title>HEÝKELLI DIÝAR</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'style', media: 'all' %>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>

  <link rel="shortcut icon" href="/assets/images/-1-121x125.png" type="image/x-icon">

  <link rel="stylesheet" href="/assets/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="/assets/tether/tether.min.css">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/assets/animatecss/animate.css">
  <link rel="stylesheet" href="/assets/dropdown/css/style.css">
  <link rel="stylesheet" href="/assets/formstyler/jquery.formstyler.css">
  <link rel="stylesheet" href="/assets/formstyler/jquery.formstyler.theme.css">
  <link rel="stylesheet" href="/assets/datepicker/jquery.datetimepicker.min.css">
  <link rel="stylesheet" href="/assets/socicon/css/styles.css">
  <link rel="stylesheet" href="/assets/theme/css/style.css">
  <link rel="preload" as="style" href="/assets/mobirise/css/mbr-additional.css">
  <link rel="stylesheet" href="/assets/mobirise/css/mbr-additional.css" type="text/css">

<script src="/assets/web/assets/jquery/jquery.min.js"></script>  
<script src="/assets/popper/popper.min.js"></script>  
<script src="/assets/tether/tether.min.js"></script>  
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>  
<script src="/assets/smoothscroll/smooth-scroll.js"></script>  
<script src="/assets/viewportchecker/jquery.viewportchecker.js"></script>  
<script src="/assets/dropdown/js/nav-dropdown.js"></script>  
<script src="/assets/dropdown/js/navbar-dropdown.js"></script>  
<script src="/assets/touchswipe/jquery.touch-swipe.min.js"></script>  
<script src="/assets/parallax/jarallax.min.js"></script>  
<script src="/assets/formstyler/jquery.formstyler.js"></script>  
<script src="/assets/formstyler/jquery.formstyler.min.js"></script>  
<script src="/assets/datepicker/jquery.datetimepicker.full.js"></script>  
<script src="/assets/theme/js/script.js"></script>  
<script src="/assets/formoid/formoid.min.js"></script>   



  </head>

  <body>
  <section class="menu cid-s48OLK6784" once="menu" id="menu1-h">
    
    <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
        <div class="container-fluid">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <%= link_to root_path  do %>
                      <%= image_tag "/assets/images/-1-121x125.png", :style => "height: 8rem;" %>
                    <% end %>
                </span>
                <span class="navbar-caption-wrap"><%= link_to "HEYKELLI DIYAR", root_path, :class => "navbar-caption text-white text-primary display-5" %></span>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true">
                  <li class="nav-item">
                    <%= link_to root_path + '#content14-r', :class => "nav-link link text-white text-primary display-4" do %>
                      
                      О КОМПАНИИ
                    <% end %>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link link text-white text-primary dropdown-toggle display-4" href="#" aria-expanded="true" data-toggle="dropdown-submenu">ДЕЯТЕЛЬНОСТЬ</a>
                    <div class="dropdown-menu">
                      <% @activities.each do |link| %>
                        <%= link_to "#{link.name_ru}", activity_path(link), :class => "text-white text-primary dropdown-item display-4" if params[:locale] != true and params[:locale] != 'en' and params[:locale] != 'tm' and params[:locale] != 'ru' %>
                        <%= link_to "#{link.name_ru}", activity_path(link), :class => "text-white text-primary dropdown-item display-4" if params[:locale] == 'ru' %>
                        <%= link_to "#{link.name_en}", activity_path(link), :class => "text-white text-primary dropdown-item display-4" if params[:locale] == 'en' %>
                        <%= link_to "#{link.name_tm}", activity_path(link), :class => "text-white text-primary dropdown-item display-4" if params[:locale] == 'tm' %>
                      <% end %>  
                    </div>
                  </li>
                   <li class="nav-item dropdown">
                    <a class="nav-link link text-white text-primary dropdown-toggle display-4" href="#" aria-expanded="true" data-toggle="dropdown-submenu">ПРОДУКЦИЯ</a>
                    <div class="dropdown-menu">
                      <% @products.each do |link| %>
                      <%= link_to "#{link.name_ru}", product_path(link), :class => "text-white text-primary dropdown-item display-4" if params[:locale] != true and params[:locale] != 'en' and params[:locale] != 'tm' and params[:locale] != 'ru' %>
                      <%= link_to "#{link.name_ru}", product_path(link), :class => "text-white text-primary dropdown-item display-4" if params[:locale] == 'ru' %>
                      <%= link_to "#{link.name_en}", product_path(link), :class => "text-white text-primary dropdown-item display-4" if params[:locale] == 'en' %>
                      <%= link_to "#{link.name_tm}", product_path(link), :class => "text-white text-primary dropdown-item display-4" if params[:locale] == 'tm' %>
                      <% end %>
                    </div>
                  </li>
                  <li class="nav-item">
                    <%= link_to root_path + '#gallery2-m', :class => "nav-link link text-white text-primary display-4" do %>
                      
                      ПАРТНЁРЫ
                    <% end %>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link link text-white text-primary dropdown-toggle display-4" href="#" aria-expanded="false" data-toggle="dropdown-submenu">СВЯЗАТЬСЯ&nbsp; С НАМИ</a>
                    <div class="dropdown-menu">
                    <%= link_to root_path + '#form5-u', :class => "text-white text-primary dropdown-item display-4" do %>
                      <span class="socicon socicon-outlook mbr-iconfont mbr-iconfont-btn"></span>
                      НАПИШИТЕ НАМ
                    <% end %>
                    <a class="text-white text-primary dropdown-item display-4" href="index.html#form5-u" aria-expanded="false">
                      <span class="socicon socicon-viber mbr-iconfont mbr-iconfont-btn"></span>НАШИ КОНТАКТЫ
                    </a>
                   <li class="nav-item">
                  <%= link_to url_for(locale: :tm) do %>
                      <%= image_tag "/images/tm.png", style: "width: 25px; margin-right: 10px"%>
                    <% end %> 
                  </li>
                   <li class="nav-item">
                   <%= link_to url_for(locale: :en) do %>
                      <%= image_tag "/images/en.png", style: "width: 25px; margin-right: 10px" %>
                    <% end %>
                  </li>
                   <li class="nav-item">
                   <%= link_to url_for(locale: :ru) do %>
                      <%= image_tag "/images/ru.png", style: "width: 25px; margin-right: 10px" %>
                    <% end %>
                  </li>    
                

                    </div>
                  </li>
                </ul>
                
                
            </div>
        </div>
    </nav>

</section>

    <%= yield %>

  </body>
</html>
  

      

